@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url(https://fonts.gstatic.com/s/exo2/v4/7cHrv4okm5zmbt6TDvs7wH8Dnzcj.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.info {
  width: 30%;
  padding: 6rem 20px 20px;
}

.img-wrapper {
  position: relative;
  width: 70%;
  min-height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1,h2,h3,h4,h5 {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  position: fixed;
  z-index: 2;
  top: 15px;
  left: 20px;
  font-size: 4rem;
  text-shadow: 0 0 3px black;
  margin-top: 0;
}

img {
  height: 100vh;
  display: block;
}

button {
  font-size: 18px;
  margin: 0 10px;
  padding: 5px 10px;
  transition: all .3s;
  cursor: pointer;
  border: 2px solid gray;
}

button:hover {
  border-color: rgb(200, 0, 0);
  color: rgb(200, 0, 0);
}

.today-button {
  background-color: rgb(200, 0, 0);
  border-color: white;
  color: white;
}

.today-button:hover {
  border-color: yellow;
  color: yellow;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
















